.sidebar{
  height: 100vh;
  background:#1e2127;
  border-right: 1px solid #757F95;
  display: flex;
  flex-direction: column;
  align-items: center;
  position:fixed;
  font-size: x-small;
}

.sidebar-icon{
  height: 2.5rem;
  background-color: transparent;
  border: 1px solid #757F95;
  color: white;
  border-radius: 1em;
  margin: 1em;
  
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.icon-image{
  height: 2em;
}

.divider-bar{
    width: 80%;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: white;
  }
  
.sidebar-title{
  margin-top: 10px;
  color: lightskyblue;
  font-size:small;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  